.album-card img {
    width: 17em;
    height: 17em;
}

div.album-card {
    width: 25em;
    margin: 3em auto;
    padding: 2em;
}

div.album-card a {
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}