.artist-card img {
    width: 20em;
    height: 20em;
    border-radius: 10em;
    object-fit: cover;
}

div.artist-card {
    width: 25em;
    margin: 1em auto;
    padding: 2em;
}

div.artist-card a {
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}